{% extends "base.html" %}


{% block title %}log-in{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">Log-in</h1>
    <p>
      Please use the form to login:
    </p>
    <p>
      If you dont have an account, please <a href="{% url "register" %}">
        register to
      </a>
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input class="acc-bttn" type="submit" value="log-in"></p>
    </form>
  </div>
{% endblock %}
