{% extends "base.html" %}


{% block title %}password changed{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">
      Password changed
    </h1>
    <p>Your password has been changed successfully</p>
    <p><a href="{% url "todo:main" %}">Go to main</a></p>
  </div>
{% endblock %}
