{% extends "base.html" %}


{% block title %}password change{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">
      Changing your password
    </h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Change"></p>
    </form>
  </div>
{% endblock %}
