* {
    box-sizing: border-box;
    margin: 0.5%;
}
body {
    background-color: Gray;
}
p, a, h1, h2, h3, form{
    margin: 1% 2%;
}
.container {
    display: flex;
    flex-direction: row;
}
.container > .content {
    border: 2px solid black;
    border-radius: 10px;
    width:70%;
    height: 100%;
    background-color: Yellow;
    margin: 0.5%;
    padding: 1%;
}
.container > .sidebar {
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    background-color: Green;
    margin: 0.5%;
    padding: 1%;
}
.task {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFBE6F;
    margin: 2%;
}
.main_title {
    color: #0D4385;
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.title {
    color: Brown;
    font-size: 30px;
}
.task-form {
    border: 2px solid orange;
    background-color: #8FF0A4;
    margin: 2%;
    border-radius: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/* Buttons */
.del-bttn {
    background-color: red;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin: 0;
}
.add-bttn {
    background-color: green;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin: 0;
}
.chng-passw {
    background-color: Orange;
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin: 0;
}
.logout-bttn {
    background-color: Yellow;
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin: 0;
}
/*Status buttons*/
.Done {
    background-color: blue;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin: 0;
}
.Awaiting {
    background-color: purple;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin: 0;
}
