<h1 style="color: Orange">
  Your account
</h1>
<div class="navigation">
  <form method="post" action="{% url "logout" %}">
    {% csrf_token %}
    <p><input class="logout-bttn" type="submit" value="Log out"></p>
  </form>
  <a href="{% url "password_change" %}">
    <input class="chng-passw"
           type="button"
           value="Change password">
  </a>
</div>
<div class="navigation">
  <form method="post" action="{% url "todo:activate_all_tasks" %}">
    {% csrf_token %}
    <input class="Awaiting"
           type="submit"
           value="Activate all tasks">
  </form>
  <form method="post" action="{% url "todo:deactivate_all_tasks" %}">
    {% csrf_token %}
    <input class="Done"
           type="submit"
           value="Deactivate all tasks">
  </form>
</div>
<div class="navigation">
  <form method="post" action="{% url "todo:remove_all_tasks" %}">
    {% csrf_token %}
    <input class="del-bttn"
           type="submit"
           value="Delete all tasks">
  </form>
</div>
