{% extends "base.html" %}


{% block title %}main page{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="content">
      {% if task_list %}
      <h1 class="title">
        {{ user.username }}'s ToDo List:
      </h1>
      {% if messages %}
        {% for message in messages %}
          <p>{{ message|safe }}</p>
        {% endfor %}
      {% endif%}
        {% for task in task_list %}
          <div class="task">
            <p style="font-size: 18px;">{{ task.title }}</p>
            <p style="font-style: italic;
                      font-size: 12px;
                      color: gray;">{{ task.created }}</p>
            <p>
              {{ task.is_done }}
              <div class="navigation">
                <a href="{% url "todo:remove_task" task.id %}">
                  <input class="del-bttn" type="button" value="Delete task">
                </a>
                <a href="{% url "todo:change_status" task.id %}">
                  <input class="{{ task.status }}"
                         type="button"
                         value="{{ task.status }}">
                </a>
              </div>
            </p>
          </div>
        {% endfor %}
      {% else %}
        <h1 class="title">
          Hello, {{ user.username }}. Your task list is empty yet
        </h1>
      {% endif %}
      <div class="task-form">
        <p>
          Add task:
        </p>
        <form method="post" action="{% url "todo:add_task" %}">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="add-bttn" type="submit" value="Add task">
        </form>
      </div>
    </div>
    <div class="sidebar">
      {% include "includes/account.html" %}
    </div>
  {% endif %}
{% endblock %}
