{% load static %}


<!DOCTYPE html>

<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link href="{% static "css/todos.css" %}" rel="stylesheet">
  </head>
  <body>
    <a href="{% url "todo:main" %}">
      <h1 class="main_title">
        ToDo
      </h1>
    </a>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
