{% extends "base.html" %}


{% block title %}error{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">Error!!</h1>
    <h2 style=" color: red; ">{{ error }}</h2>
  </div>
{% endblock %}
