{% extends "base.html" %}


{% block title %}registration{% endblock %}

{% block content %}
<div class="content">
  <h2 class="title" >Registration</h2>
  {% if answer %}
    <p>{{ answer }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="acc-bttn" type="submit" value="Register to">
  </form>
  <p>
    If you already have an account.
    Go<a href="{% url "login" %}">there</a>for log-in.
  </p>
</div>
{% endblock %}
